<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pathofnur.watch">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_watch_placeholder"
        android:label="Path of Nūr Watch"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="pathofnurwatch" android:host="open" />
            </intent-filter>
        </activity>
        <service
            android:name=".tiles.NextPrayerTileService"
            android:exported="true"
            android:label="Next Prayer"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.PrayerProgressTileService"
            android:exported="true"
            android:label="Prayer Progress"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.DhikrTileService"
            android:exported="true"
            android:label="Dhikr"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>
        </service>
        <receiver
            android:name=".notifications.WearPrayerReminderReceiver"
            android:exported="false" />
        <receiver
            android:name=".notifications.WearNotificationActionReceiver"
            android:exported="false" />
    </application>
</manifest>
